.btn {
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  border: 1px solid transparent;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  line-height: 22px;
  cursor: pointer;
  color: #262626;
  transition: border 0.25s, background-color 0.3s;
  background-color: #fafafa;
}
