.form-control {
  font-size: 14px;
  border: 1px solid $color-gray-300;
  background-color: $color-gray-100;
  border-radius: 8px;
  padding: 10px 12px;
  color: $color-gray-900;
  outline: 0;
  width: 100%;

  &:hover {
    border-color: $color-gray-400;
  }

  &:focus {
    box-shadow: 0 0 0 4px $color-blue-200, 0 0 0 2px $color-blue-400;
    border-color: $color-gray-400;
  }

  &::placeholder {
    color: $color-gray-700;
  }
}
