// Core colors
$dark-color: #222 !default;
$light-color: #fff !default;

$body-font-color: $dark-color !default;

// blue
$color-blue-200: #dbebfc;
$color-blue-300: #abcdf4;
$color-blue-400: #5e9ce3;

// gray
$color-gray-100: #fafafa;
$color-gray-300: #e8e8e8;
$color-gray-400: #d8d8d8;
$color-gray-700: #808080;
$color-gray-900: #292929;
