// Core colors
$primary-color: #01d167 !default;
$secondary-color: #0c365a !default;
$terrafy-color: #23cefd !default;
$dark-color: #222 !default;
$light-color: #fff !default;

// Status corlors
$info-color: #0c365a !default;
$success-color: $primary-color !default;
$warning-color: #fc9f00 !default;
$danger-color: #fc4e5c !default;

$gray-color: #ddd !default;
$gray-scale-1: rgba(255, 255, 255, 1) !default;

$body-font-color: $dark-color !default;
